doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href="/css/style.css")
  body
    nav(role="navigation").navbar.navbar-default
        .navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="/" ).navbar-brand CyclEvents
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav 
                li.active: a(href="/news") News
                li.active: a(href="/") Events
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a(href="#", data-toggle="dropdown").dropdown-toggle Username <b class="caret"></b>
                    ul.dropdown-menu
                        li: a(href="#") Sign Out
                        li: a(href="#") Profile
    .container
        block content
    
        footer
            .row
                .col-xs-12
                    small &copy Wally Shirey 2014

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/holderjs/holder.js')