extends ../layout

block content
  #banner.page-header
    .row.col-xs-12
      h1 CyclEvents
        small &nbsp;Find cycling events near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          .col-xs-12
            h4
              a(href="/event") CX Bike Race
            p Feb 18, 2014 9:30 AM CST
            p.address Oak Mountain State Park, Pelham, AL         
            span.label.label-warning CX
            span.label.label-success Race
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          .col-xs-12
            h4
              a(href="/event") CX Bike Race
            p Feb 18, 2014 9:30 AM CST
            p.address Oak Mountain State Park, Pelham, AL         
            span.label.label-warning CX
            span.label.label-success Race
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          .col-xs-12
            h4
              a(href="/event") CX Bike Race
            p Feb 18, 2014 9:30 AM CST
            p.address Oak Mountain State Park, Pelham, AL         
            span.label.label-warning CX
            span.label.label-success Race
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          .col-xs-12
            h4
              a(href="/event") CX Bike Race
            p Feb 18, 2014 9:30 AM CST
            p.address Oak Mountain State Park, Pelham, AL         
            span.label.label-warning CX
            span.label.label-success Race
